<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sistema Acadêmico{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light navegacao">
        <a class="titulo-site" href="{% url 'index' %}">Sistema Acadêmico</a>
        <div class="collapse navbar-collapse links-navegacao">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="item-menu-navegacao" href="{% url 'professor_list' %}">Professores</a></li>
                <li class="nav-item"><a class="item-menu-navegacao" href="{% url 'sala_list' %}">Salas</a></li>
                <li class="nav-item"><a class="item-menu-navegacao" href="{% url 'disciplina_list' %}">Disciplinas</a></li>
                <li class="nav-item"><a class="item-menu-navegacao" href="{% url 'turma_list' %}">Turmas</a></li>
                <li class="nav-item"><a class="item-menu-navegacao" href="{% url 'horario_list' %}">Horários</a></li>
            </ul>
        </div>
    </nav>
    <main class="area-conteudo">
        <div class="container mt-4 conteudo">
            {% block content %}
            {% endblock %}
        </div>    
    </main>
</body>
</html>
