{% extends 'base_generic.html' %}

{% block title %}{% if object %}Editar Disciplina{% else %}Adicionar Disciplina{% endif %}{% endblock %}

{% block content %}
  <h1 class="titulo-pagina">{% if object %}Editar{% else %}Adicionar{% endif %} Disciplina</h1>
  <form method="post">
    {% csrf_token %}
    <div class="form-group area-formulario">
      {{ form.nome.label_tag }}
      {{ form.nome }}
    </div>
    <div class="form-group area-formulario">
      {{ form.carga_horaria.label_tag }}
      {{ form.carga_horaria }}
    </div>
    <button class="btn btn-success" type="submit">{% if object %}Atualizar{% else %}Salvar{% endif %}</button>
    <a class="btn btn-secondary" href="{% url 'disciplina_list' %}">Cancelar</a>
  </form>
{% endblock %}
