{% extends 'base_generic.html' %}

{% block title %}{% if object %}Editar Tabela de Horários{% else %}Adicionar Tabela de Horários{% endif %}{% endblock %}

{% block content %}
  <h1>{% if object %}Editar{% else %}Adicionar{% endif %} Tabela de Horários</h1>
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      {{ form.professor.label_tag }}
      {{ form.professor }}
    </div>
    <div class="form-group">
      {{ form.disciplina.label_tag }}
      {{ form.disciplina }}
    </div>
    <div class="form-group">
      {{ form.turma.label_tag }}
      {{ form.turma }}
    </div>
    <div class="form-group">
      {{ form.sala.label_tag }}
      {{ form.sala }}
    </div>
    <div class="form-group">
      {{ form.horario.label_tag }}
      {{ form.horario }}
    </div>
    <button class="btn btn-success" type="submit">{% if object %}Atualizar{% else %}Salvar{% endif %}</button>
    <a class="btn btn-secondary" href="{% url 'tabela_horario_list' %}">Cancelar</a>
  </form>
{% endblock %}
