{% extends 'base_generic.html' %}

{% block title %}{% if object %}Editar Turma{% else %}Adicionar Turma{% endif %}{% endblock %}

{% block content %}
  <h1 class="titulo-pagina">{% if object %}Editar{% else %}Adicionar{% endif %} Turma</h1>
  <form method="post">
    {% csrf_token %}
    <div class="form-group area-formulario">
      {{ form.nome.label_tag }}
      {{ form.nome }}
    </div>
    <div class="form-group area-formulario">
      {{ form.numero_alunos.label_tag }}
      {{ form.numero_alunos }}
    </div>
    <button class="btn btn-success" type="submit">{% if object %}Atualizar{% else %}Salvar{% endif %}</button>
    <a class="btn btn-secondary" href="{% url 'turma_list' %}">Cancelar</a>
  </form>
{% endblock %}
